# AtmoSync Environment Configuration

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=container-telemetry

# Snowflake
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_DATABASE=ATMOSYNC
SNOWFLAKE_SCHEMA=RAW
SNOWFLAKE_ROLE=

# Superset
SUPERSET_PORT=8088